[Unit]
Description=Are They Hiring - PostgreSQL
Requires=are-they-hiring-pod.service
After=are-they-hiring-pod.service

[Container]
Image=docker.io/postgres:16
Pod=are-they-hiring.pod
EnvironmentFile=%h/.config/are-they-hiring/.env
Volume=are-they-hiring-db-data:/var/lib/postgresql/data

[Service]
Restart=always

[Install]
WantedBy=default.target
